    <a href="../pages/index.html">
        <img src="../assets/images/home/logo.png" alt="" class="header__logo">
    </a>
    <nav class="header__nav">
        <a href="../pages/index.html" class="header__nav-element">Home</a>
        <a href="../pages/shop.html" class="header__nav-element">Shop</a>
        <a href="../pages/news.html" class="header__nav-element">News</a>
    </nav>
     <a href="../pages/cart.html" class="cart-link">
            <img src="../assets/images/home/shopping-bag.svg" alt="" class="header__cart">
            <p class="products-number">0</p>
        </a>