    <a href="../pages/index.html">
        <img src="../assets/images/home/footer_logo.png" alt="" class="header__logo">
    </a>
    <nav class="header__nav">
        <a href="../pages/index.html" class="header__nav-element" style="color: black;">Home</a>
        <a href="../pages/shop.html" class="header__nav-element" style="color: black;">Shop</a>
        <a href="../pages/news.html" class="header__nav-element" style="color: black;">News</a>
    </nav>
    <a href="../pages/cart.html" class="cart-link">
        <img src="../assets/images/home/shopping-bag-black.svg" alt="" class="header__cart">
        <p class="products-number">0</p>
    </a>

    

